@model CreateContactMailDto

<div class="row contact-form">

    <div class="col-twelve">
        <form asp-controller="Default" method="post" asp-action="SendEmail">
            <fieldset>

                <div class="form-field">
                    <input name="Name" asp-for="Name" type="text" id="contactName" placeholder="Name" value="" minlength="2" required>
                </div>
                <div class="form-field">
                    <input name="Email" asp-for="Email" type="email" id="contactEmail" placeholder="Email" value="" required>
                </div>
                <div class="form-field">
                    <input name="Subject" asp-for="Subject" type="text" id="contactSubject" placeholder="Subject" value="">
                </div>
                <div class="form-field">
                    <textarea name="Message" asp-for="Message" id="contactMessage" placeholder="Message" rows="10" cols="50" required></textarea>
                </div>
                <div class="form-field">
                    <button class="submitform" type="submit">Submit</button>
                    <div id="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
        <div id="message-warning">
        </div>
        <div id="message-success">
            <i class="fa fa-check"></i>Your message was sent, thank you!<br>
        </div>

    </div>

</div>