<section id="contact">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Contact Me</h5>
            <h1>I'd Love To Hear From You.</h1>

            <p class="lead">You can contact to me for any questions, suggestions and offers. 
                I will get back to you as soon as possible.
            </p>

        </div>
    </div>

    @await Component.InvokeAsync("_ContactMailComponentPartial")

    @await Component.InvokeAsync("_ContactInfoComponentPartial")

</section>