@model CreateFooterDto

@{
    ViewData["Title"] = "CreateFooterModal";
    Layout = "~/Areas/Admin/Views/UILayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Footer Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Eklemek istediğiniz yeni Footer kaydını lütfen doğru giriniz ve kaydet butonuna basınız.
                        </p>
                        <form method="post" asp-action="CreateFooter" asp-controller="Footer">

                            <div class="form-group">
                                <label for="description">Açıklama</label>
                                <input type="text" class="form-control" id="description" asp-for="Description" placeholder="Açıklama Giriniz" required>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Footer'ı Kaydet</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>