@model CreateTechIUsedDto

@{
    ViewData["Title"] = "CreateTechIUsedModal";
    Layout = "~/Areas/Admin/Views/UILayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Teknoloji Ekleme</h4>
                        <p class="card-subtitle mb-4">
                            Eklemek istediğiniz yeni Teknoloji alanını lütfen doğru giriniz ve kaydet butonuna basınız.
                        </p>
                        <form method="post" asp-action="CreateTechIUsed" asp-controller="TechIUsed">

                            <div class="form-group">
                                <label for="name">Teknoloji Adı</label>
                                <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Teknoloji Adını Giriniz" required>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Teknolojiyi Kaydet</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>