@model List<ResultTechIUsedDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/UILayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Kullanılan Teknolojiler</h4>
                        <p class="card-subtitle mb-4">
                            Anasayfanın Resume alanında bulunan kayıtlar için kullanılan teknolojileri aşağıdaki sayfadan düzenleyebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Teknoloji Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td>
                                                <button class="btn btn-outline-danger" onclick="confirmDelete('@item.TechIUsedId')">Sil</button>
                                            </td>
                                            <td><a href="/Admin/TechIUsed/UpdateTechIUsedModal/@item.TechIUsedId" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <a href="/Admin/TechIUsed/CreateTechIUsedModal" class="m-3 btn btn-outline-primary">Yeni Teknoloji Ekle</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete(itemId) {
        Swal.fire({
            title: 'Teknoloji kaydını silmek istediğinize emin misiniz?',
            text: "Teknoloji, kullanılan Kategori elemanlarından da silinecektir!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Vazgeç'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/Admin/TechIUsed/RemoveTechIUsed/${itemId}`;
            }
        });
    }
</script>