@model CreateSocialMediaDto

@{
    ViewData["Title"] = "CreateSocialMediaModal";
    Layout = "~/Areas/Admin/Views/UILayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Sosyal Medya Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Eklemek istediğiniz yeni Sosyal Medya alanını lütfen doğru giriniz ve kaydet butonuna basınız.
                        </p>
                        <form method="post" asp-action="CreateSocialMedia" asp-controller="SocialMedia">

                            <div class="form-group">
                                <label for="name">Sosyal Medya Adı</label>
                                <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Sosyal Medya Adını Giriniz" required>
                            </div>

                            <div class="form-group">
                                <label for="socialMediaUrl">Sosyal Medya Linki</label>
                                <input type="text" class="form-control" id="socialMediaUrl" asp-for="SocialMediaUrl" placeholder="Sosyal Medya Linkini Giriniz" required>
                            </div>

                            <div class="form-group">
                                <label for="iconUrl">İkon Linki</label>
                                <input type="text" class="form-control" id="iconUrl" asp-for="IconUrl" placeholder="İkon Linkini Giriniz" required>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Sosyal Medya'yı Kaydet</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>