<head>

	<meta charset="utf-8">
	<title>PersonalWebSite</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="~/cv-site/css/base.css">
	<link rel="stylesheet" href="~/cv-site/css/main.css">
	<link rel="stylesheet" href="~/cv-site/css/vendor.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

	<script src="~/cv-site/js/modernizr.js"></script>
	<script src="~/cv-site/js/pace.min.js"></script>

	<link rel="icon" type="image/png" href="~/cv-site/favicon.png">

</head>