@model List<ResultContactInfoDto>

<div class="row contact-info">
    @foreach(var item in Model)
    {
        <div class="col-four tab-full">

            <div class="icon">
                <i class="@item.IconUrl"></i>
            </div>

            <h5>@item.Title</h5>

            <p>@item.Description</p>

        </div>
    }
</div>
