@model List<ResultResumeCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/UILayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfa Banner Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Anasayfanın Banner alanında bulunan bilgileri aşağıdaki sayfadan düzenleyebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Resume Kategori Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.CategoryName</td>
                                            <td><a href="/Admin/ResumeCategory/RemoveResumeCategory/@item.ResumeCategoryId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/ResumeCategory/UpdateResumeCategoryModal/@item.ResumeCategoryId" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <a href="/Admin/ResumeCategory/CreateResumeCategoryModal" class="m-3 btn btn-outline-primary">Yeni Kategori Ekle</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>