@model UpdateResumeCategoryDto

@{
    ViewData["Title"] = "UpdateResumeCategoryModal";
    Layout = "~/Areas/Admin/Views/UILayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Resume Kategori Düzenleme</h4>
                        <p class="card-subtitle mb-4">
                            Düzenlemek istediğiniz Resume Kategori alanını lütfen doğru giriniz ve ilgili butonuna basınız.
                        </p>
                        <form method="post" asp-action="CreateResumeCategory" asp-controller="ResumeCategory">

                            <input type="hidden" asp-for="ResumeCategoryId"/>

                            <div class="form-group">
                                <label for="categoryName">Kategori Adı</label>
                                <input type="text" class="form-control" id="categoryName" asp-for="CategoryName" placeholder="Kategori Adını Giriniz" required>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kategoriyi Güncelle</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>